﻿@model PationCard.Web.ViewModels.JournalViewModel


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(vm => vm.Patient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(vm => vm.Patient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(vm => vm.Patient.Iin)
        </dt>

        <dd>
            @Html.DisplayFor(vm => vm.Patient.Iin)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(vm => vm.Diagnosis)
        </th>
        <th>
            @Html.DisplayNameFor(vm => vm.VisitDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in (IEnumerable<PationCard.Model.Journal>)ViewBag.Journals)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Journals/Edit", new { id = item.Id }) | 
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Patient.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
